*/Users/kumardivyachaitanya/Documents/web[[:space:]]devlopment/portfolio-1 filter=lfs diff=lfs merge=lfs -text
*./Users/kumardivyachaitanya/Documents/web[[:space:]]devlopment/portfolio-1 filter=lfs diff=lfs merge=lfs -text
